<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nanda.kotlinhub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".activities.register"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.user_home"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.ActivityTestReadText" />
        <activity android:name=".activities.ActivityHomePage" />
        <activity android:name=".activities.ActivityTopic" />
        <activity android:name=".activities.ActivityBasicConcepts" />
        <activity
            android:name=".activities.ActivityLaunchScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.user_profile"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.manage_user" />
        <activity android:name=".listview_users" />
        <activity android:name=".activities.ActivityProfilePage"></activity>
    </application>

</manifest>