<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nanda.kotlinhub">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_kotlin_logo_updated"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_kotlin_logo_updated_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.register"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activities.ActivityTestReadText" />
        <activity
            android:name=".activities.ActivityHomePage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ActivityTopic"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ActivityBasicConcepts"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ActivityLaunchScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.manage_user" />
        <activity
            android:name=".activities.ActivityResource"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="activities.ActivityProfilePage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ActivityQuiz"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ActivityProfilePage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ActivityQuizList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ActivityFlowControl"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ActivityFunction"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ActivityOOP"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>